extends layout

block content
  #canvas-cont
  audio(src="http://cs1-40v4.vk-cdn.net/p21/13cf51a17adb4d.mp3" loop autoplay="autoplay")
block script
  // build:js scripts/game.js
  script(src='scripts/pc.js')
  script(src='scripts/game.js')
  // endbuild