extends layout

block content
  link(href="styles/theme.css", rel="stylesheet")
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          br
          a(href="http://screenshake.xyz/")
            h1 http://screenshake.xyz/
          br
          h2.cover-heading Как играть?
          br
          br
          p.lead.
            1. <a class="btn btn-default" href="/47hours-5/client/dist/game.html">Открыть страницу</a> на <u>большом экране</u> и получить номер комнаты.
          br
          br
          p.lead.
            2. Затем из браузера <u>смартфона или планшета</u> перейти на <a class="btn btn-default" href="/47hours-5/client/dist/phone.html">страницу</a>
            и ввести номер комнаты.
          br
          br
          h1.cover-heading Так как играть!?
          br
          br
          p.lead.
            <img src="images/tilt.png">
            <img src="images/shout.png">
          p.lead.
            Нужно крутить телефон и кричать.
          br
          br
          br
          br  