doctype html
html.no-js
  head
    meta(charset='utf-8')
    title BaRbArIaN pIcNiC
    meta(name='description' content='')
    meta(name='viewport' content='initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:css styles/shake.css
    link(rel='stylesheet' href='styles/shake.css')
    // endbuild
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body
    block content

    // build:js scripts/vendor.js
    
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/underscore/underscore.js')
    script(src='../bower_components/pixi/bin/pixi.js')
    
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    script(src='scripts/volume-meter.js')
    // endbuild    
    block script
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-62297082-1', 'auto');
      ga('send', 'pageview');