extends layout

block content
  .info
  link(href="styles/theme.css", rel="stylesheet")
  button.click(style="position: fixed; top:0; left:0; right:0; bottom:0; width:100%; height: 100%; display: none; color: red;") Нажмите чтобы кричать. <br>(К сожалению iOS не поддерживает захват звука, поэтому мы сделали для вас эту кнопку)
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          form#id-form.form-signin(style="width:300px; margin: 0 auto;")
            h2(class="form-signin-heading") Введите номер комнаты.
            p Номер комнаты можно получить с помощью компьютра или другого устройства. <br>Инструкция на сайте <a href="http://screenshake.xyz/">http://screenshake.xyz/</a>
            br
            input#desktop-id.form-control(type='text' placeholder="#room")
            <br>
            //input(type='submit' value='Send')
            button.btn.btn-lg.btn-default.btn-block(type="submit") Поехали
  canvas(class="visualizer" width="0" height="0")
  
block script
  // build:js scripts/phone.js
  script(src='scripts/audio.js')
  script(src='scripts/phone.js')
  // endbuild