// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
// endbower


.block {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: red;
  top: 100px;
  left: 50%;
  margin-left: -35px;
}